.heading{
    flex-grow: 1;
    font-size: 20px;
}

.dialogContent{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.sendMessage .to{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 25px;
    margin-top: 50px;
    width: 100%;
}

.sendMessage .to .toHeading{
    font-size: 400%;
    font-weight: 700;
}

/* .sendMessage .to h5{
    margin-right: 8px;
    font-size: 90%;
    font-weight: 700;
    width: 100%;
} */

.sendMessage .subject{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.sendMessage .subject .subjectMessage{
    flex-grow: 1;
    width: 80%;
    margin: auto;
}

.sendMessage .messageDetails{
    width: 100%;
    height: 140px;
}

.sendMessage .to .chips{
    margin: 3px;
}