.heading{
    flex-grow: 1;
    font-size: 20px;
}

.dialogContent{
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.dialogContent .sendMessage{
    width: 100%;
}

.dialogContent .sendMessage .to{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 25px;
    margin-top: 40px;
    width: 100%;

    border: solid 1px #c4c4c4;
    border-radius: 4px;
}

.dialogContent .sendMessage .to h7{
    font-family: "Arial";
}

.sendMessage .subject{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.sendMessage .to .chips{
    margin: 3px;
}