* {
	padding: 0;
    margin: 0;
	border: 0;
	font-weight: 300;
	font-family: "Century Gothic", "Calibri", "Arial";
	overflow-wrap: break-word;
}
.ContactCard{
	text-align: center;	
	margin: 0px;
	box-sizing: border-box;
}

/*Includes Profile Pic, Name, and position title of the person*/
.ContactCard .contactOverview{
	padding-top: 5%;
	position: sticky;
	top: 0;
	background-color: #dbdbdb
}


.ContactCard .contactOverview .employeeName{
	font-family: 'Century Gothic', 'Calibri', 'Arial';
	font-size: 150%;
	font-weight: 400;
}

.ContactCard .contactOverview .employeeTitle{
	font-size: 100%;
	padding-top: 2%;
	padding-bottom: 5%;
}

/*Container for Detailed Info section*/
.ContactCard .detailedInfo{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/*All children of above container*/
.ContactCard .detailedInfo *{
	display: flex;
	flex-direction: row;
	flex-grow: unset;
	flex-wrap: nowrap;
	margin: auto;
	padding: 5px;
}

/*All h2 tags inside detailedInfo flexbox*/
.ContactCard .detailedInfo * h2{
	font-size: 125%;
}

.ContactCard .detailedInfo * img{
	width: 50px;
	height: 50px;
}

/*Special case for locationInfo because the address can be very long*/
.ContactCard .detailedInfo .locationInfo img{
	width: 50px;
	height: 50px;
}