* {
	padding: 0;
    margin: 0;
	border: 0;
	font-weight: 300;
	font-family: "Century Gothic", "Calibri", "Roboto", "Arial";
	overflow-wrap: break-word;
}
.ContactCardInfo{
	text-align: center;	
	margin: 0px;
	box-sizing: border-box;
	background: white;
	height: 100%;
}

/*Includes Profile Pic, Name, and position title of the person*/
.ContactCardInfo .contactOverview{
	padding-top: 5%;
	/* position: sticky; */
	top: 0;
	background-color: #d6d6d6;
	width: 100%;
    margin: auto;
    
	/*Shadows*/
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
}

/*Name of employee */
.ContactCardInfo .contactOverview .employeeName{
	font-family: 'Century Gothic', 'Calibri', 'Arial';
	font-size: 150%;
	font-weight: 400;
}
/*Employee title*/
.ContactCardInfo .contactOverview .employeeTitle{
	font-size: 100%;
	padding-top: 2%;
	padding-bottom: 2.5%;
}

.ContactCardInfo .contactOverview img{
	height: 35%;
	width: 35%;
	max-width: 200px;
	max-height: 200px;
}

/*Container for Detailed Info section*/
.ContactCardInfo .detailedInfo{
	padding: 10%;
	height: 100%;	
	width: 100%;
}

/*All children of above container*/
.ContactCardInfo .detailedInfo .phoneInfo{

	margin: auto;
	padding: 5px;
}

.ContactCardInfo .detailedInfo .emailInfo{

	margin: auto;
	padding: 5px;
}


.ContactCardInfo .detailedInfo .locationInfo{

	margin: auto;
	padding: 5px;
}


/*All h2 tags inside detailedInfo flexbox*/
.ContactCardInfo .detailedInfo * h2{
	font-size: 125%;
	font-weight: 300;
	padding: auto;
	font-family: "Century Gothic", "Calibri", "Arial";
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.ContactCardInfo .detailedInfo * img{
	width: 50px;
	height: 50px;
}
