* {
    font-family: "Century Gothic", sans-serif;
}


.ContactList {
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: white;
}

#root {
  width: 100%;
  height: 100%;
}
/* Our App Container */
.container {
  padding-bottom: 0px;
}

.container h3{
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

/*Search bar*/
.searchBar {
  
  font-family: "Century Gothic";
  object-fit: stretch;

  padding: 10px;
  margin: auto;
  margin-top: 8px;
  margin-right: 0;

  font-size: 15px;
  width: 50%;
  height: 80%;

  /* Prevent text overflow in search bar */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Rounded border */
  border-radius: 25px;
  
  /* background: url('./assets/search_icon.png') no-repeat scroll 2% 50%;
  background-size: 28px 28px; */
  background-color: #ffffff;

  /* Grow animation */
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* Search bar: on focus, expand*/
.searchBar:focus{
  width: 100%;
}

.sortButton h4{
  font-weight: 700;
  text-transform: none;
  margin: none;
  padding: none;
}

.container .loadingCircle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10%;
}
