* {
    padding: 0;
    margin: 0;
    border: 0;

    font-family: "Century Gothic", sans-serif;
  }


.ContactList {
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: white;
}

.ContactList-link {
  color: #61dafb;
}
#root {
  width: 100%;
  height: 100%;
}
/* Our App Container */
.container {
  padding-bottom: 0px;
}

/* Search bar wrapper*/
.search-wrapper{
  align-items: center;
  margin: auto;
  border: none;
  width: 100%;
  padding: 4%;
  background-color: #e5e5e5;

  /*Shadows*/
  /* box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1); */

  /*Keep the search bar warpper stuck at the top*/
  top: 0%;
}

/*Search bar*/
.search-wrapper .searchBar {
  display: flex;
  font-family: "Century Gothic";
  flex-direction: row;
  object-fit: stretch;

  padding: 10px;
  margin: auto;
  margin-top: 0px;

  font-size: 17px;
  width: 100%;

  /* Rounded border */
  border: solid 2px #e5e5e5;
  border-radius: 25px;

  /*Shadows*/
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);  */
  
  background: url('./assets/search_icon.png') no-repeat scroll 98% 50%;
  background-size: 28px 28px;
  background-color: #ffffff;
}

