* {
    padding: 0;
    margin: 0;
    border: 0;

    font-family: sans-serif;
  }


.ContactList {
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #f1f1f1;
}




.ContactList-link {
  color: #61dafb;
}
#root {
  width: 100%;
  height: 100%;
}
/* Our App Container */
.container {
  padding-bottom: 80px;
}
/* The header */
.header {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: #f1f1f1;
  background: #3367d6;
  padding: 40px;
  text-align: center;
}
/*Check-In/Not Checked-in title*/
.Title {
  font-size: larger;
  background: #3cd3d8;
  padding: 20px;
  font-size: large;
  margin: 20px;
}

/*Search bar*/
.searchBar {
  display: flex;
  flex-direction: row;
  object-fit: stretch;
  padding: 10px;
  border: none;
  margin: 20px;
  font-size: 17px;
}