.MarkedSafe {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  color: #adadad;
  padding: 30px;
  font-size: large;
  margin: 20px;
  background: #fff;
  vertical-align: center;
  border: solid 1px #e9e9e9;
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  transition: transform .2s ease;
}
.MarkedSafe:hover {
  transform: scale(1.02);
}
.MarkedSafe .buttons{
  color: white;
  display: block;
  float: right;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

/*Undo check-in button*/
.MarkedSafe .buttons .btnUndoCheckIn {
  background-color: #e83c3c; /* Red */
  border: none;
  color: white;
  float: right;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 70px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: block;
  font-size: 60%;
}

/*Info icon*/
.MarkedSafe .buttons .btnContactInfo {
  cursor:pointer;
  border:none;
  width:25px;
  height:25px;
  vertical-align: center;
  background: url(info_icon.png) no-repeat;
  background-position: center;
  margin-right: 18px;
  margin-top: 6px;
}